<div class="title">
	<p class="title_show">You entered in the kingdom of <b><%= @viking.name %></b></p>
</div>

<div class="body_show">
	<div class="image_viking">
		<img><%= image_tag @viking.image.url(:medium) %></img>
	</div>

	<p class="history_show">
		<b><%= @viking.history %></b>
	</p>

	<p class="links_show_new_edit">
		<%= link_to "Home of Vikings", root_path %> | <%= link_to "Edit the Viking", edit_viking_path %>
	</p>

</div>
